/* -------------------------------------- 768 >>>  ------------------------ */

@media (min-width: 748px) {

    .header-wrp {
        background-image: url('../img/bgr-768.png');
        padding-top: 48px;
        min-height: 700px;
    }

    .container {max-width: 748px;}

    .wrap-menu {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin: 0 40px 156px 60px;
    }

    .menu {
        margin-bottom: 0;
        max-width: 450px;
    }

    .header-h2 {
        font-size: 52px;
        margin: 0 108px 40px;
    }

    .header-h3 {
        font-size: 24px;
        margin-bottom: 38px;
    }

    .header-btn {
        padding: 0 24px;
        margin-bottom: 234px;
    }

    .partner {padding-top: 74px;}

    .partner-h2 {margin-bottom: 34px;}

    .partner-ul {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 38px;
        overflow: hidden;
    }

    .partner-li {
        max-width: 236px;
        margin-bottom: 58px;
        margin-right: 20px;
    }
    
    .partner-li:nth-child(even) {margin-bottom: 0;}
    .partner-li:nth-last-child(-n+2) {margin-right: 0;}

    .icon {right: 58px;}

    .partner-info {
        margin: 0 10px;
    }

    .partner-btn {
        margin-bottom: 40px;
        padding: 0 30px;
    }

}

/* ---------------------------------------  >>> 768 - 939 <<<  ------------ */

@media (min-width: 748px) and (max-width: 939px) {

    .partner-ul {
        flex-wrap: wrap;
        max-height: 520px;
    }

}

/* ----------------------------------  940 >>> ------------------------ */

@media (min-width: 940px) {

    .container {max-width: 940px;}

    .header-wrp {
        background-image: url('../img/bgr-1440.png');
        padding-top: 38px;
    }

    .wrap-menu {
        margin: 0 20px 154px 0;
    }

    .header-h2 {
        margin: 0 160px 40px;
    }

    .partner-h2 {margin-bottom: 38px;}

    .partner-ul {
        flex-direction: row;
        justify-content: start;
        margin: 0 0 40px 0;
    }

    .icon {right: 50px;}
    
    .one {order: 1;}
    .two {order: 3;}
    .three {order: 2;}
    .four {order: 4;}

    .partner-li {max-width: 220px;}

    .partner-li:last-child {margin-right: 0;}
    .partner-li:nth-last-child(-n+4) {margin-bottom: 0;}

    .partner-info {margin: 0 2px;}

    .partner-btn {margin-bottom: 72px;}
}
