.page-header__button {
    @extend %button;
    border-style: solid;
    border-width: 3px;
    border-color: $primary-white-color;
    background-color: rgba(0, 0, 0, 0);
    font-family: $primary-font;
    text-transform: uppercase;
    color: $text-color-white;
    font-size: $primary-text-size;
    line-height: $primary-text-height;
    font-weight: $text-bold;
    width: 164px;
    height: 44px;
    transition: background-color 0.2s linear;
    margin: 0 auto 170px;

    &:hover {
        background-color: $primary-hover-color;
    }
}

