.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid--header {
    @extend %bgr-position;
    min-height: 1000px;
    background-image: linear-gradient(90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url('../images/Banner.png');

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
            background-image: linear-gradient(90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url('../images/Banner@2x.png');
        }
    }
}

.container-fluid--footer {
    @extend %bgr-position;
    background-color: $bgr-white-color;
}

