/*html*/
html{box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

/*body*/
body {
    font-family: "Playfair Display", "Ubuntu", sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 1.7;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {text-decoration: none;}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.container {
    width: 900px;
    margin: 0 auto;
}

/*header*/
.block-header {
    padding-top: 76px;
    margin-bottom: 104px;
}

/*navigation*/
.site-navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.site-navigation-li {
    display: inline-block;
    text-align: center;
    margin: 0 51px;
}

.site-navigation li:last-child {margin-right: 0px;}
.site-navigation li:first-child {margin-left: 0px;}

.site-navigation-a {
    font-family: "Playfair Display", sans-serif;
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.7;
}

.site-navigation a:hover {color: #03a9f4;}
.site-navigation a:focus {color: #03a9f4;}


/*main*/
.card {
    margin-bottom: 56px;
    text-align: center;
}

.card-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.card-list li:nth-child(2n) {margin-right: 0;}
.card-list li:nth-last-child(-n+2) {margin-bottom: 0;}

.card-list-item {
    display: inline-block;
    max-width: 420px;
    margin-right: 60px;
    margin-bottom: 132px;
    text-align: left;
}

.card-list-img {margin-bottom: 32px;}

.card-list-life {
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 32px;
    overflow: hidden;
}

.card-list-name {
    font-size: 30px;
    line-height: 1.2;
    font-family: "Playfair Display", sans-serif;
    font-weight: normal;
    margin-bottom: 36px;
    overflow: hidden;
}

.card-list-data {
    font-size: 14px;
    line-height: 1.7;
    font-family: "Playfair Display", sans-serif;
    vertical-align: top;
    overflow: hidden;
    margin-block-end: 0em;
}


/*footer*/
.block-footer {text-align: center;}

.load {
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    padding: 22px 34px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Playfair Display", sans-serif;
    color: rgb(98, 98, 98);
    line-height: 2;
    cursor: pointer;}



  







