$main-font-stack: 'Montserrat', 'Roboto', sans-serif;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$tertiary-font: 'Kaushan Script', cursive, sans-serif;

$primary-text-size: 14px;
$secondary-text-size: 15px;

$primary-text-height: 1.2;
$secondary-text-height: 1.6;

$text-bold: 700;
$text-regular: 400;
$text-light: 300;

$primary-white-color: rgb(255, 255, 255);

$primary-hover-color: rgb(252, 227, 138);
$secondary-hover-color: rgb(243, 129, 129);

$bgr-white-color: rgb(255, 255, 255);
$bgr-blue-color: rgb(149, 225, 211);

$text-color-white: rgb(255, 255, 255);
$text-color-dark: rgb(51, 51, 51);
$text-color-gray: rgb(153, 153, 153);
