/*html*/
html{box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}


/*body*/
body {
    font-family: "Open Sans", "Roboto", sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {text-decoration: none;}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1170px;
    margin: 0 auto;
    line-height: 1;
}


/*header*/
.block-header {
    padding-top: 38px;
    margin-bottom: 98px;
}


/*logo*/
.logo {
    float: left;
    margin-left: 30px;
    margin-top: 7px;
}


/*navigation*/
.menu {
    float: right;
    font-size: 14px;
    list-style: none;
    margin-top: 11px;
    margin-right: 30px;
    padding: 0px;
}

.menu-li {float: left;}

.menu-li:not(:last-child){margin-right: 30px;}

.menu-a {
    display: block;
    color: rgb(15, 1, 1);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 11px;
}
      

.menu a:hover {color: #03a9f4;}
.menu a:focus {color: #03a9f4;}


/*main products*/
.products {
    margin-bottom: 98px;
    text-align: center;
}

h2 {
    font-size: 48px;
    line-height: 42px;
    font-family: "Roboto";
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow-wrap: break-word;
}

h2::after {
    content: '';
    display:block;
    background-color: rgb(26, 188, 156);
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 92px;
    width: 164px;
    height: 7px;
}

h3::after {
    content: '';
    display:block;
    background-color: rgb(26, 188, 156);
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 32px;
    width: 136px;
    height: 3px;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.products-item {
    float: left;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.products-list-img-wrp {
    overflow: hidden;
    height: 282px;
    line-height: 282px;
    text-align: center;
}

.products-list li:first-child{margin-left: 30px;}
.products-list li:nth-child(5n){margin-left: 30px;}
.products-list li:nth-last-child(-n+4) {margin-bottom: 0;}

.products-list-img {
    vertical-align: middle;
    max-width: 255px;
}

.products-list-text-wrp {
    height: calc(322px - 282px);
    line-height: calc(322px - 282px);
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.products-list-name {
    padding-left: 14px;
    margin: 0px;
    text-align: left;
    overflow: hidden;
}

.products-list-price {
    float: right;
    background: rgb(140, 140, 140);
    padding: 0 12px;
    margin: 0px;
    overflow: hidden;
}

.products-item:hover .products-list-text-wrp {background-color: rgb(26, 188, 156);}
.products-item:hover .products-list-price {background-color: rgb(26, 188, 156);}

/*main news*/
.news {
    list-style: none;
    margin-bottom: 82px;
    padding: 0;
    font-size: 0;
}

.news-li{
    float: left;
    width: 350px;
    margin-right: 30px;
}

.news-li:first-child{margin-left: 30px;}

.news-img {
    margin-bottom: 14px;
    max-width: 347px;
}

.news-about {
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    color: rgb(85, 82, 82);
    line-height: 26px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.news-text {
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    color: rgb(85, 82, 82);
    line-height: 20px;
    overflow: hidden;
}

.read {
    display: block;
    border-radius: 3px;
    background-color: rgb(78, 198, 171);
    padding: 0 44px;
    height: 51px;
    margin-right: auto;
    margin-bottom: 0px;
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}







